# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Mac files
*.DS_Store
*.Trashes

# log files
*.log

# plain and compiled latria scripts
*.lra
*.lrac

# temporary files
~*

#compiled executables
latria
latriad
latriac

# ignore idea
.idea/

# ignore xcode
Latria.xcodeproj

# ignore contents of build folder
build/*

# ignore releases
releases/
release/
